<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702504483082-vof4c0da1b30lkqmc4l7mn41sl61thv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702504483082-vof4c0da1b30lkqmc4l7mn41sl61thv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAkEbpHh9OCb-Ygu2782R1e6UbUOFsXByA</string>
	<key>GCM_SENDER_ID</key>
	<string>702504483082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vetpower.vetService</string>
	<key>PROJECT_ID</key>
	<string>client-care-105c5</string>
	<key>STORAGE_BUCKET</key>
	<string>client-care-105c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702504483082:ios:775c6d615b16cf36c162f3</string>
	<key>DATABASE_URL</key>
	<string>https://client-care-105c5-default-rtdb.firebaseio.com</string>
</dict>
</plist>